.NavbarBox{
    /* border: 2px solid black; */
    margin : 30px 150px 20px 100px;
    padding-left: 20px;
}
.bottomline{
    border: 2px solid black;
}
.menulist{
    /* position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease; */
  display: none;
}

@media (max-width: 500px){
    .menulist{
        display: block;
    }
    /* .navbarlist{
        display: none;
    } */
    .singlenews_content{
       display: flex;
       flex-direction: column;
    }
  }